/* Хихи-хехе */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    background-color: #F7F7F7;
}
/* */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 960px;
    margin: 0px auto;
}
/**/
.header__container {
    display: flex;
    min-height: 161px;
    /*align-items: center;*/
    flex-direction: column;
}
.header__logo {
    font-weight: bold;
    font-size: 24px;
    margin-top: 11px;
    margin-bottom: 25px;
    color: #333333;
}
.header__menu {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 12px;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 18px 15px rgb(148 148 148 / 15%);
}
.menu__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 24px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.menu__input {
    background-color: #ECEFF0;
    padding: 7px;
    min-height: 34px;
}
.menu__input::before {
    content: url("img/source_icons_search.svg");
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
input[type="text"] {
    font-size: 12px;
    line-height: 16px;
    /*color : #9EAAB4;*/
}
.menu__button img {
    max-width: 16px;
    max-height: 16px;
}
.menu__filter {
    font-weight: 500;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #4F4F4F;
}
/**/
.main__container {
    display: flex;
    min-height: 101px;
    flex-direction: column;
}
.main__options {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options__title {
    line-height: 14px;
    font-size: 10px;
    font-weight: 500;
    color: #9EAAB4;
}
.options__inactive {
    color: #9EAAB4;
    margin-left: 8px;
}
.options__active {
    color: #333333;
    border-bottom-color: #333333;
}
.main__list {
    margin-top: 15px;
    padding: 2px 13px;
    border-radius: 2px;
    background-color: white;
}
th {
    line-height: 14px;
    font-size: 10px;
    text-align: center;
    width: 250px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #9EAAB4;
}
td {
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #ACACAC;
}
td:first-child {

}
td:last-child {
    color: #0CB4F1;
    font-weight: 700;
}
.td__cancel {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
/**/
.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: black;
    max-width: 353px;
    max-height: 134px;
    padding: 0 37px;
    border-radius: 3px;
}
.popup__title {
    margin-top: 36px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;

}
.popup__options {
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.popup__agreed {
    color: #828282;
    background-color: #e0e0e0;
    width: 88px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}
.popup__decline {
    color: white;
    background-color: #0CB4F1;
    width: 88px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}
/* Форма */
.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}
.form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 60px;
    right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}
.form-inner {
    padding: 50px;
    border: 1rem solid;
    border-color: #f69a73;
    border-radius: 40px;
}
.form-inner img {
    width: 100%;
}
.form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 2px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #E9EFF6;
    line-height: 2rem;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
    margin-top: 30px;
    /*background: #f69a73;*/
    box-shadow: 0 0 40px 40px #f69a73 inset, 0 0 0 0 #d87d56;
    /*border-bottom: 4px solid #d87d56;*/
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: .15s ease-in-out;
}
.form-inner input[type="submit"]:hover {
    box-shadow: 0 0 10px 0 #f69a73 inset, 0 0 10px 4px #f69a73;
    color: #f69a73;
}
.form-inner textarea {
    resize: none;
}
.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}
.glow-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #f69a73 inset, 0 0 0 0 #f69a73;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}
.glow-button:hover {
    box-shadow: 0 0 10px 0 #f69a73 inset, 0 0 10px 4px #f69a73;
    color: #f69a73;
}
